{% extends "minerals/base.html" %}

{% block title %}
    A magnificant catalog of minerals
{% endblock %}

{% block content %}
<div class="grid-100">
  <div>
    <div class="minerals__container">
    {% if keyword %}
      <h5 class="text-center">Search results for: {{ keyword }}</h5>
    {% endif %}
    </div>
    <br>
    <ul class="minerals__container">
      {% for mineral in minerals %}
        <li class="minerals__item">
          <a class="minerals__anchor" href="{% url 'minerals:detail' pk=mineral.pk %}">
            {{ mineral.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
